.layout-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  height: 100vh;
  margin-top: 5%;
  margin-bottom: 8%;
  position: relative;
}

.layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6rem;
}
