body {
  margin: 0;
  font-family:"Inter", sans-serif, "Press Start 2P", system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to right bottom, #17072D, #33105E, #50176E);
  height: 100%;
  color: #E1DDFF;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

