.team-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 80%;
  column-gap: 20px;
}

.team-member {
  flex-basis: 20%;
  margin: 10px 0;
  text-align: center;
  cursor: pointer;
}

.yourName {
  font-size: 1.2rem;
  margin: 8px 0;
  text-decoration: none;
}

.member-image {
  width: 60%;
  margin-top: 30px;
  object-fit: cover;
  box-shadow: 8px 8px 20px rgba(23, 7, 45, 0.5);
  border-radius: 50%;
  transition: transform 0.3s ease-in-out;
}

.member-image:hover {
  transform: scale(1.04);
}

.button-position {
  position: absolute;
  right: 320px;
  bottom: 90px;
  cursor: pointer;
  text-align: center;
}
