.instructions-layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 60px 0;
}

#quiz-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-links > button {
  display: flex;
  justify-content: space-between;
}
