.scoreboard-layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6rem;
}

.scoreboard-back-button {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 60%;
}

/* .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 54px 0 36px 0;
  color: #fffffe;
}

.layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 54px 0 36px 0;
}

.score-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 300px;
  margin-right: 160px;
}

.score-item {
  display: flex;
  align-items: center;
  margin: 8px 0;
  font-size: 24px;
}

.rank {
  margin-right: 10px;
}

.name {
  margin-left: 10px;
}

.your-score {
  list-style: decimal;
  list-style-position: outside;
  text-align: left;
  font-family: "Inter";
  font-size: 1rem;
  font-weight: 400;
  margin: 8px 0;
}

.your-score .score-value {
  font-size: 28px;
  font-weight: bold;
  margin-left: 10px;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  color: #ffea00;
}

.back-button {
  background-color: #ffea00;
  color: #4e00a3;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  font-family: "Inter", sans-serif;
}

.back-button:hover {
  background-color: #ffea66;
} */
