.button-link {
  font-family: "Press Start 2P";
  color: #fbe22a;
  font-size: 1.25rem;
  text-transform: uppercase;
  padding: 0;
  border: none;
  background: none;
}

.button-link:hover {
  color: #fb822a;
  transition-duration: 1s;
}

.blinking {
  animation: opacity 1s ease-in-out infinite;
  opacity: 1;
}

@keyframes opacity {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.grey {
  color: #cbc6ef;
}

.grey:hover {
  color: #a390ca;
  transition-duration: 0.5s;
}

.big-font {
  font-size: 1.75rem;
  min-width: 20rem;
  max-width: 40rem;
  word-wrap: break-word;
  white-space: normal;
  line-height: 1.5;
}
