.answer-button {
  font-style: "Inter";
  font-size: 1rem;
  padding: 0.75rem;
  margin: 0.75rem;
  background-color: white;
  color: black;
  border-radius: 1.5rem;
  border: 0.5rem solid #cbc6ef;
  min-width: 10rem;
  max-width: 18.75rem;
  word-wrap: break-word;
}

.answer-button:hover {
  transform: scale(1.05);
}

.correct {
  background-color: green;
}

.wrong {
  background-color: red;
}
