.quiz-layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6rem;
}

.quiz-link {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 1.5rem;
}
