#quiz-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 18.75rem;
  margin: 0 auto;
}

.quiz-label {
  font-family: "Inter";
  font-weight: 500;
  text-transform: uppercase;
  color: #e1ddff;
  display: block;
  text-align: left;
}

.quiz-form-input {
  font-family: "Inter";
  width: 15rem;
  height: 1.5rem;
  border-radius: 1.25rem;
  border: none;
  padding-left: 0.75rem;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}

.error-container {
  min-height: 50px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 0.75rem;
  color: #fbe22a;
  text-align: center;
  font-family: "Press Start 2P";
  text-transform: capitalize;
  max-width: 600px;
}
