.background-screen {
  position: absolute;
  width: 70%;
  height: 90%;
  border-radius: 80px;
  margin: 120px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.5;
  z-index: -1;
}
