/* ScoreList.css */
.score-list {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
  }
  
  .score-list li {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    font-size: 18px;
    border-bottom: 1px solid #ffea00;
  }