.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background: #33105e;
  padding: 40px;
  border-radius: 8px;
  width: 30%;
  text-align: center;
  outline: none;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.75);
}

.modal-image {
  width: 50%;
  height: 50%;
  margin-top: 30px;
  object-fit: cover;
  box-shadow: 8px 8px 20px rgba(23, 7, 45, 0.5);
  border-radius: 50%;
}

ul {
  margin-bottom: 50px;
  padding: 0;
}

li {
  list-style: none;
  font-weight: 500;
  margin: 30px 20px;
}

.button-position-modal {
  position: relative;
  text-align: right;
}
