/* UserScoreDisplay.css */
.user-score {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center text horizontally */
  justify-content: center; /* Center text vertically */
  max-width: 300px;

  margin-bottom: 1px;
  /*color: #ffea00;*/
  font-size: 2.25rem; /*24px;*/
  text-align: center; /* Center text within the element */

  font-family: "Press Start 2P";
  text-transform: uppercase;
  background: linear-gradient(to bottom, #fbe22a, #fb822a);
  color: transparent;
  background-clip: text;
}



  
  .score {
    display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align text to the left */
  justify-content: center;
  max-width: 300px;
  margin-top: 1px;
  margin-bottom: 2px;
  margin: 0;
  color: #ffffff;
  font-size: 36px; /* Increase font size */
  text-align: left; /* Align text to the left */
  font-family: 'Inter';
  font-weight: bold;
   }